{% extends 'request.html' %}
{% load static %}
{% block context %}
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 " align="center">
        <div class="form-group service-form-group">
            <label class="control-label sr-only" for="name"></label>
            <input id="hospital" name="hospital" autocomplete="on" placeholder="Hospital" disabled required>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " align="center">
        <div class="form-group">
            <label class="control-label sr-only" for="select"></label>
            <input list="severidade" name="severidade" autocomplete="on" placeholder="Severidade" />
                <datalist id="severidade">
                    <option value="Baixa"></option>
                    <option value="Média"></option>
                    <option value="Alta"></option>
                    <option value="Muito Alta"></option>
                </datalist>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12  " align="center">
        <div class="form-group service-form-group">
            <label class="control-label sr-only" for="name"></label>
            <input id="ventilador" name="ventilador" placeholder="Ventilador" required>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " align="center">
        <div class="form-group">
            <label class="control-label sr-only" for="textarea"></label>
            <textarea class="form-control" id="messages" name="messages" rows="4" placeholder="Descrição do pedido"></textarea>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " align="center">
        <button type="submit" name="singlebutton" class="btn btn-default btn-block mb10">Abrir pedido</button>
        <h6>O seu pedido será atendido e resolvido assim que possível.</h6>
        <h6>Não quer abrir um pedido? <a href="{% url 'website:forum' %}">Volte atrás</a></h6>
    </div>
{% endblock %}